body {
    background-color: #EBEBF0;
    display: grid;
    place-items: center;
}
form {
    display: flex;
    align-items: center;   
    justify-content: center; 
    flex-direction: column;
}
fieldset {
    border: 1px solid lightskyblue;
    background-color: #F0F0F5; 
    min-width: 100%;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
textarea {
    max-width: 100%;
}
input[type="submit"]{
    background-color: #216CE7;
    border: 1px solid #216CE7;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    
}
input[type="reset"]{
    background-color: red;
    border: 1px solid red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 50%;
    
}
input[type="submit"]:hover{
    background-color: white;
    color: #216CE7;
    transition: .2s;
}
input[type="reset"]:hover{
    background-color: white;
    color: red;
    transition: .2s;
}
  