body{
    background-color: #EBEBF0;
}
form{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: auto repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px; 
    grid-template-areas:". caracteristique ."
                         ". trotinette ."
                         ". voiture_elec ."
                         ". voiture_hydro ."
                         ". velo .";                  
}
.caracteristique_container {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: 1fr .5fr;
    grid-column-gap: 1%;
    grid-row-gap: 0px;
    grid-area: caracteristique;
    background-color: #F0F0F5;
}
.distance_container{
    padding: 10px;
    text-align: center;
    border : solid lightskyblue 1px ; 
    align-items: center;
    justify-content: space-between;
}
.permit_container{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    border : solid lightskyblue 1px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.date_container{
    padding: 20px;
    text-align: center;
    border : solid lightskyblue 1px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.depart_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border : solid lightskyblue 1px;   
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.selection_container {
    border: 1px solid lightskyblue;
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.selection_container_check_container {
    display: flex;
    flex-direction: row;
}
.trotinette_container{
    display: grid;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: auto;
    grid-column-gap: 5%;
    border : solid lightskyblue 1px;
    grid-area: trotinette;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #F0F0F5;
}
.voiture_elec_container{
    display: grid;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: auto;
    grid-column-gap: 5%;
    border : solid lightskyblue 1px;
    grid-area: voiture_elec;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #F0F0F5;
}
.voiture_hydro_container{
    display: grid;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: auto;
    grid-column-gap: 5%;
    border : solid lightskyblue 1px;
    grid-area: voiture_hydro;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #F0F0F5;
}
.velo_container{
    display: grid;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: auto;
    grid-column-gap: 5%;
    border : solid lightskyblue 1px;
    grid-area: velo;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #F0F0F5;
}
.item_img {
    width: 10%;
    height: 10%;
    object-fit: cover;
}
datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
    padding-left: 45px;
    font-size: 10px;
}
option {
    padding: 0;
}
  
input[type="range"] {
    width: 200px;
    margin: 0;
}
  
.item_container>img{
    width: 35%;
    height: 35%;
    border-radius: 20px;
}
.item_container{
    text-align: center;  
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
input[type="submit"]{
    position: fixed;
    left: 7%;
    background-color: #216CE7;
    border: 1px solid #216CE7;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}
input[type="submit"]:hover{
    background-color: white;
    color: #216CE7;
    transition: .2s;
}
input{
    cursor: pointer;
}

.container {
    border-radius: 5px;
    border-width: 2px;
    background-color: rgba(226, 226, 226, 0.315);
}

#velo:checked ~ .velo_container,
#trot:checked ~ .trotinette_container,
#voit-elec:checked ~ .voiture_elec_container,
#voit-hydro:checked ~ .voiture_hydro_container {
    display: none;
}

