*{
    margin-top: 0px;
    padding-top: 0px;
    font-family: Trebuchet MS, sans-serif;
}
.logo {
    width: 60%;
    height: 60%;
    float: left;
}
.login_icon{
    width: 10%;
    height: 10%;
    float: right;
    margin-right: 50px;
}
nav {
    background-color: rgba(226, 226, 226, 0.315);
}
nav>ul{
    position:absolute;
    top:0px;
    left:0px;
    right: 0px;
    height: 10%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black;
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
nav>ul>li{
    text-align: center;
    text-decoration: none;
    width: 33%;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    border: none;
    padding: 15px 32px;
}
.menue_item:hover {
    background-color: white;
    color: #216CE7;
    transition: .2s;
}

.menue_item {
    background-color: #216CE7;
    color: white;
    border: 1px solid #216CE7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition: .2s;
}
.main{
    position: relative;
    display: block;
    margin-top: 10%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

input:hover{
    cursor: pointer;
}