.logo {
    width: 30%;
    height: 30%;
    float: left;
}
nav>ul{
    position:absolute;
    top:0px;
    left:0px;
    right: 0px;
    height: 10%;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black;
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
nav>ul>li{
    text-align: center;
    text-decoration: none;
    width: 33%;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
}
.main{
    position: relative;
    display: block;
    margin-top: 10%;
}