*{
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
}
html,body{
    height: 100%;
    background-image: url("../img/nature.png");
    
}
a, button{
    cursor: pointer;
}
.main{
    position: absolute;
    width: 50%;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background-color: #F0F0F5;
    border: 1px solid lightskyblue;
    text-align: center;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.5);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    margin-bottom: 30px;
    
}
footer {
    position: absolute;
    bottom: 0px;
}
input[type="submit"]{
    background-color: #216CE7;
    border: 1px solid #216CE7;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
input[type="submit"]:hover{
    background-color: white;
    color: #216CE7;
    transition: .2s;
    cursor: pointer;
}
