body{
    background-color: #EBEBF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.question{
    margin-bottom: 50px;
    border: solid lightsteelblue;
    background-color: #F0F0F5;;
}